.view {
    width: 350px;
    height: 300px;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background-color: #fff;
    border-radius: 5px;
}
.view .mask, .view .content {
    width: 350px;
    height: 300px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 22px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 0px 20px;
    text-align: center
}

.view a.info:hover {
    box-shadow: 0 0 5px #000
}
.view-ninth .mask-1,
.view-ninth .mask-2{
	background-color: rgba(0,0,0,0.5);
    height: 470px;
    width: 400px;
	background: rgba(16, 33, 218, 0.5);
	opacity: 1;
    transition: all 0.4s ease-in-out 0.2s;
}
.view-ninth .mask-1 { 
    left: auto;
    right: -15px;
    top: -15px;
    transform: rotate(54.5deg) translateX(-190px);
    transform-origin: 100% 0%;
}
.view-ninth .mask-2 { 
    top: auto;
    bottom: -87px;
    left: 53px;
    transform: rotate(56.5deg) translateX(180px);
    transform-origin: 0% 100%;
}
.view-ninth .content{
    background: rgba(0,0,0,0.9);
    height: 0px;
    opacity: 0.5;
    width: 500px;
    overflow: hidden;
    transform: rotate(-33.5deg) translate(-112px,166px);
    transform-origin: 0% 100%;
    transition: all 0.2s ease-in-out 0.3s;
}
.view-ninth h2{
    background: transparent;
    margin-top: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.view-ninth a.info{
    display: none;
}
.view-ninth:hover .content{
    height: 200px;
    width: 100%;
    opacity: 0.9;
    top: 50px;
    transform: rotate(0deg) translate(0px,0px);
}
.view-ninth:hover .mask-1,
.view-ninth:hover .mask-2{
	transition-delay: 0s;
}
.view-ninth:hover .mask-1{
    transform: rotate(49.5deg) translateX(5px);
}
.view-ninth:hover .mask-2 {  
    transform: rotate(49.5deg) translateX(-100px);
}

.launch-app {
    margin-top: 40px;
    font-size: 22px;
    padding: 5px;
    border-radius: 10px;
}
#project-heading {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(7, 192, 233);
    margin: 20px 0 40px 0;
}
.my-flex-row {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.my-flex-column {
    margin: 10px;
}
#portfolio-image {
    width: 290px;
    height: 270px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-bottom: 10px;
}
#portfolio-background-image {
    background-image: url("../images/9.jpg");
    min-height: 100vh;
    background-position: center;  
    background-repeat: no-repeat; 
    background-size: cover;
    padding-top: 25px;
    padding-bottom: 250px;
    background-color: #000;
}

#dog-tag {
    text-align: center;
    color: rgb(9, 101, 238);
    background-color: #fff;
    padding: 5px 3px 5px 0;
    position: relative;
    top: 7px;
    margin-right: -1px;
    border-radius: 5px;
}
#card-info {
    width: 350px;
    color: #000;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 3px;

}
#top-row{
    padding-bottom: 100px;
}
#bottom-row {
    padding-bottom: 75px;
}

/* drop down info */

.droptxt {
    text-align: center;
    color: rgb(9, 101, 238);
    background-color: #fff;
    padding: 5px 3px 5px 0;
    position: relative;
    top: 7px;
    margin-right: -1px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 350px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    max-width: 350px;
  }
  .dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    background-color: #1b1b1b;
    min-width: 160px;
    max-width: 350px;
    padding: 20px;
    z-index: 1;
    color: #fff;
  }
  .dropdown-content a {
   font-size: 22px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .droptxt {
    background-color: #44b2ee;
  }
  #drop-button {
      background-color: rgb(15, 120, 233);
      color: #fff;
      border-radius: 10px;
      border: none;
      padding: 0 10px;
      font-size: 18px;
  }

  #drop-button:hover {
    background-color: #1010e6;
    color: rgb(204, 200, 200);
  }


