
body {
    
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: black;
}


/* navigation  */
#nav-container {
    background-color: #000000;
    border-bottom: 8px solid #0e1df3;
}

li+li { 
    border-left: 1px solid #0e1df3;
}

a {
    color: #1386eb;
}

a:hover {
    color: #6b6d6d;
    text-decoration: none;
}

/* media quieries for header */

@media only screen and (max-width: 767px) {
    .navbar {
        padding: 0;
    }

    .navbar-nav {
        flex-direction: row;
        margin: 0 auto;
    }

    .navbar-brand {
        margin: 0;
        width: 100%;
    }

    li {
        padding: 0 10px;
        margin: 10px 0;
    }
   #bio-image {
       margin-left: 20%;
       margin-right: 20%;
   }

   p {
       font-size: 0.75rem;
   }
}

/* center content */

#index-container {
    background-color: #000;
    margin-top: 2rem;
    display: flex;
    border-radius: 10px;
    opacity: .8;
}


h1 {
    color:  #0e0ee2;
}
#center-image {
    background-image: url("../images/geometric-background.png");
    overflow: hidden;
    min-height: 100%;
    padding-bottom: 200px;
}

#bio-image {
    width: 500px;
    max-height: 325px;
    padding: 2rem;
}
#bio-paragraph {
    color: #fff;
    padding: 2rem;
}
#contact-bar {
    background-color: #000;
    margin: 2rem 5rem;
    padding: 1rem;
    color: #1120ea;
    border-radius: 10px;
    display: block;
    
}
#contact-bar img {
    width: 30px;
    height: 30px;
}
#contact-bar span {
    margin: 0 2rem;
    flex-wrap: wrap;
    justify-content: center;
}
@media only screen and (max-width: 989px) {
    #bio-image {
        width: 500px;
        max-height: 375px;
        padding: 2rem;
    }
    #index-container {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media only screen and (max-width: 426px) {
    #bio-image {
        width: 350px;
        max-height: 275px;
        padding: 1rem;
    }
   
}
/* footer content */

footer{
    background-color: #000000; 
    border-top: 8px solid #0e1df3;
    text-align: center;
    padding: 3rem;
    color: #777777;
}


#background-fill {
    background-color: #000000;

}
#main-content-holder {
    background-color: #000000;
    /* padding: 4rem 0; */
}
#main-image-holder {
    background-image: url("../images/profile5.gif");
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100vh;
    max-width:100%;
    background-position: center;
    padding: 14rem 4rem;
}

#text-row {
    position: relative;
    bottom: -50px;
}
#left-main-home {
    background-color: #f3920c;opacity: 0.6;
    padding: 1rem;
    margin-left: 5rem;
    margin-top: 5rem;
    border-radius: 25px;
}

#my-logo {
    width: 60px;
    height: 45px;
}

#home-name {
    height: 50%;
    width: 75%;
}
#name-div {
    position: relative;
    left: 80px;
    bottom: 60px;
}

#job-label{
    font-family: 'Russo One', sans-serif;
    margin: 20px 0 0 50px;
    color: #ffffff;
}
.contact-info {
    color: #fff;
    padding: 1.5rem 0 0 4rem;
    font-size: 24px;
}
@media only screen and (max-width: 1025px) {
    #main-image-holder {
        max-height: 60vh;
        padding: 17rem 2rem;
    }
    #name-div {
        bottom: 200px;
    }
    #main-content-holder {
        padding: 8rem 0;
    }
}

@media only screen and (max-width: 765px) {
    #name-div{
        position: relative;
        left: 0px;
        bottom: 180px;
    }
    #main-image-holder {
        padding: 13rem 2rem;
        max-height: 50vh;
    }

    #job-label {
        font-size: 1.5rem;
        margin-left: 35px;
    }
    #home-name {
        height: 40%;
        width: 60%;
    }
    #my-logo {
        position: relative;
        top: 55px;
        left: 90px;
    }
    .contact-info {
        font-size: 18px;
    }
   
    
}
@media only screen and (max-width: 650px) {
    #home-name {
        height: 40%;
        width: 60%;
    }
    #name-div{
        position: relative;
        /* left: -20px; */
    }
    #main-image-holder {
        max-height: 40vh;
    }
    #job-label {
        font-size: 1rem;
    }
    .contact-info {

        padding: 1rem 0 0 2rem;
    }
    #main-content-holder {
        padding: 10rem 0;
    }
   
}
@media only screen and (max-width: 505px) {
    #home-name {
        height: 50%;
        width: 60%;
    }
    #name-div{
        position: relative;
        left: 40px;
        bottom: 475px;
    }
    #main-image-holder {
        background-image: url("../images/center-profile.gif");
        background-size: cover;
        background-repeat: no-repeat;
        max-height: 50vh;
        max-width:100%;
        background-position: center;
        padding-top: 14rem;
    }
    #job-label {
        font-size: 1rem;
        margin: 0;
        padding: 1rem;
    }
    #main-content-holder {
        padding: 18rem 0 0 0;
        margin: 0 auto;
    }
    #my-logo {
        position: relative;
        left: 20px;
    }
    .contact-info {
        margin-bottom: 2rem;
        padding: 2rem 0 2rem 2rem ;
        align-items: center;
    }
    
    footer{
        /* margin-top: 20px; */
        padding-top: 60px;
    }
    
    }
