
body {
    
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h2, h3 {
    font-family: 'Georgia', Times, 'Times New Roman', Times, serif;
}

/* navigation  */

h2 {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 25px;
    position: relative;
    bottom: -20px;
    left: -27px;
}

li+li { 
    border-left: 1px solid #cccccc;
    
}

a {
    color: #777777;
}

a:hover {
    color: #4aaaa5;
}

/* media quieries for header and index page */

@media only screen and (max-width: 767px) {

    .container{
        padding: 0;
        width: 100%;
    }

    .navbar {
        padding: 0;
    }

    .navbar-nav {
        flex-direction: row;
        margin: 0 auto;
    }

    .navbar-brand {
        margin: 0;
        width: 100%;
        padding: 20px 0;
    }

    li {
        padding: 0 10px;
        margin: 10px 0;
    }

    h2 {
       position: static;
       text-align: center;
    }
  
    h1{
        line-height: 1rem;
        font-size: 1.75rem;
        width: 100%;
        text-align: center;
    }

   #bio-image {
       margin-left: 20%;
       margin-right: 20%;
   }

   p {
       font-size: 0.75rem;

   }

  
}



/* center content */

#center-image {
    background: url(../images/diagonal-squares.png);
    padding: 40px 0 80px 0;
    border-top: 4px solid #cccccc;
}

.container {
    background-color: #ffffff;
}

h1 {
    color:  #4aaaa5;
    margin: 30px;
}

#border {
        border-bottom: 4px solid #cccccc;
        margin: 0 10px 40px 10px;
}

.img {
    margin-left: 10px;
}

#bio-image {
    width: 200px;
}
p {
    line-height: 1.5rem;
}



/* footer content */


footer{
    background-color: #666666; 
    border-top: 8px solid #4aaaa5;
    text-align: center;
    padding: 20px;
    color: #777777;
}

/* form page */

form {
    padding: 20px;
}

.btn {
    background-color: #4aaaa5;
}

h4{
    margin: 0;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding: 0 1rem;
}

.card{
    transition: transform .2s;
    
}
.card:hover {
    transform: scale(1.1);
}

#giftastic {
    height: 10.5rem;
}
@media only screen and (max-width: 1172px) {
    #giftastic {
        height: 8.5rem;
    }

}
@media only screen and (max-width: 766px) {
    #giftastic {
        height: 10rem;
    }

}
@media only screen and (max-width: 574px) {
    #giftastic {
        height: auto;
    }

}
